*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    margin: 20px;
}

.container {
    width: 960px;
    margin: 0 auto;
    border: 5px solid whitesmoke;
    background-color: whitesmoke;
}

.main-img img, .imgs img {
    width: 100%;
    display: block;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
    cursor: pointer;
}

/* fade in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 0.2s ease-in 1 forwards;
}